<!--
  Generated template for the TeamPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{team.name}}</ion-title>
    <div *ngIf="isCaptin == true">
      <ion-buttons end>
        <button (click)='addPlayer()' ion-button icon-only color="royal">
          <ion-icon name="person-add"></ion-icon>
        </button>
      </ion-buttons>
    </div>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-list-header>
      <h2>
        اللاعبين
      </h2>
    </ion-list-header>
    <ion-item-sliding *ngFor="let player of playersList">
      <ion-item>
        <ion-avatar item-start>
          <img src="https://pbs.twimg.com/profile_images/869460661180542976/KjsN06DG_400x400.jpg">
        </ion-avatar>
        <h2>{{player.name}}</h2>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger">
        <ion-icon name="trash"></ion-icon>
        حذف
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
