page-team {
  .hero {
    background-size: cover;
    width: 100%;
    height: 185px;
  }
  .topContent {
    height: 185px;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .teamAvatar {
    background-color: white;
    background-position: center;
    background-size: cover;
    border: solid 2px white;
    border-radius: 50%;
    display: inline-block;
    height: 78px;
    left: 0;
    right: 0;
    margin: auto;
    top: 15%;
    position: absolute;
    width: 78px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  .white {
    color: #fff;
  }
  .bold {
    font-weight: bold;
  }
  h1>a,
  h2>a,
  h3>a,
  h4>a,
  h5>a,
  h6>a {
    text-decoration: none;
  }
  .light,
  a.light {
    color: #fff;
  }
  .profileCards {}
  .swiper-container-horizontal>.swiper-pagination-bullets {
    top: 0px !important;
    width: 20% !important;
  }
  .swiper-pagination-bullet {
    background: #fff;
  }
  .socialIcons {
    padding: 10px;
    letter-spacing: 10px;
    color: #fff;
  }
  .editIcon {
    position: absolute;
    right: 300px;
    bottom: 50px;
  }
  .profileBottom {
    background-color: white;
    position: absolute;
    width: 100%;
    padding-bottom: 41px;
  }
  .avatar {
    background-color: white;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    height: 50px;
    left: auto;
    position: relative;
    width: 50px;
    margin-top: 2px;
  }
  .segment-button {
    border-bottom-width: 3px !important;
  }
  .toolbar-md {
    min-height: 42px !important;
  }
  .monthLabel {
    background: #FFD034;
    text-align: left;
  }
  .captainChip {
    text-align: end;
    color: orangered;
  }
  .mychip {
    border-radius: 6px;
    color: white;
    margin-top: 6px;
    margin-left: 6px;
    background-color: #969696;
    width: 27px;
    text-align: center;
  }
  .CM {
    background-color: #FFD034;
  }
  .GK {
    background-color: orangered;
  }
  .DF {
    background-color: green;
  }
  .AT {
    background-color: #0072BB;
  }
}
