<!--
  Generated template for the TeamPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{team.name}}</ion-title>
    <ion-buttons end>
      <button *ngIf="isCaptain" (click)='addPlayer()' ion-button icon-only color="royal">
          <ion-icon name="person-add"></ion-icon>
      </button>
      <button *ngIf="!isCaptain" (click)='requestMatch()' ion-button icon-only color="royal">
          <ion-icon name="md-calendar"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content parallax-header>

  <div class="hero" style="background-image: url('http://www.alhilal.com/ar/logos/newsenphoto-2911.jpg');">
  </div>
  <div class="topContent">
    <ion-slides class="topSlides" pager dir="rtl">
      <ion-slide>
        <div class="avatar" style="background-image: url('http://up.n4hr.com/ups/uploads/fceaa78230.jpg');"></div>
        <h3 class="white bold">{{team.name}}</h3>
        <h5 class="white">{{team.city}}</h5>
      </ion-slide>
      <ion-slide>
        <ion-chip color="gold">
          <ion-label>متقدم الترتيب</ion-label>
        </ion-chip>
        <ion-chip color="lightBlue">
          <ion-label>لعب نظيف</ion-label>
        </ion-chip>
        <ion-chip color="darkBlue">
          <ion-label>شيء اخر</ion-label>
        </ion-chip>
      </ion-slide>
      <ion-slide>
        <h5 class="white">تأسس الفريق: {{team.estDate}}</h5>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="tabs">
    <ion-row>
      <ion-col class="noPadding">
        <button (click)="swipe(0)" [ngClass]="{'activeBtn': activebutton === 1 }" ion-button icon-only color="light" full>
          <ion-icon class="xlIcon" color="grey" class="largeIcon" [ngClass]="{'activeIcon': activebutton === 1 }" name="ios-people"></ion-icon>
        </button>
      </ion-col>
      <ion-col class="noPadding">
        <button class="tabButton" (click)="swipe(1)" [ngClass]="{'activeBtn': activebutton === 2 }" ion-button icon-only color="light" full>
          <ion-icon color="grey" [ngClass]="{'activeIcon': activebutton === 2 }" name="md-trophy"></ion-icon>
        </button>
      </ion-col>
      <ion-col class="noPadding">
        <button class="tabButton" (click)="swipe(2)" [ngClass]="{'activeBtn': activebutton === 3 }" ion-button icon-only color="light" full>
          <ion-icon color="grey" [ngClass]="{'activeIcon': activebutton === 3 }"name="md-calendar"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </div>
  <div class="profileBottom">
    <ion-slides dir="rtl">
      <ion-slide>
        <ion-card>
          <div *ngFor="let player of playersList">
            <ion-item style="height: 55px;">
              <span item-start>
                  <div class="listAvatar" style="background-image: url('https://pbs.twimg.com/profile_images/869460661180542976/KjsN06DG_400x400.jpg');"></div>
              </span>
              <span item-content>
                  <button ion-button clear (click)='showPlayer(player)'>
                    <h2>{{player.name}}</h2>
                  </button>
                  <ion-chip color="orange">
                    <ion-label>{{player.position}}</ion-label>
                  </ion-chip>
              </span>
              <span *ngIf="this.team.captain == player.$key" item-end>
                  <ion-chip color="gold">
                    <ion-label>كابتن</ion-label>
                  </ion-chip>
              </span>
              <span *ngIf="this.team.captain != player.$key && isCaptain == true" item-end>
                  <ion-icon (click)="removePlayer(player)" color="danger" class="largeIcon" name="trash"></ion-icon>
              </span>
            </ion-item>
          </div>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <h2>البطولات</h2>
          <h6>قريباً</h6>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <h2>التقويم</h2>
          <h6>قريباً</h6>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

</ion-content>
