page-team {
  .hero {
    background-size: cover;
    width: 100%;
  }
  .topContent {
    height: 26vh;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .avatar {
    background-position: center;
    background-size: cover;
    border: solid 2px rgba(255, 255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    height: 78px;
    left: auto;
    position: relative;
    width: 78px;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  .white {
    color: #fff;
  }

  .bold {
    font-weight: bold;
  }

  h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
    text-decoration: none;
  }

  .light, a.light {
    color: #fff;
  }

  .profileCards {
  }

  .swiper-container-horizontal > .swiper-pagination-bullets {
    top: 0px !important;
    width: 20% !important;
  }

  .swiper-pagination-bullet {
    background: #fff;
  }

  .socialIcons {
    padding: 10px;
    letter-spacing: 10px;
    color: #fff;
  }

  .editIcon {
    position: absolute;
    right: 300px;
    bottom: 50px;
  }

  .profileBottom {
    background-color: white;
  }

  .listAvatar {
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    height: 50px;
    left: auto;
    position: relative;
    width: 50px;
    margin-top: 2px;
  }

  .segment-button {
    height: 55px !important;
    border-bottom-width: 3px !important;
    line-height: 7rem !important;
  }

  .monthLabel {
    background: #FFD034;
    text-align: left;
  }


}
