<!--
  Generated template for the TeamPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{team.name}}</ion-title>
    <ion-buttons end>
      <button (click)='requestMatch()' ion-button icon-only color="royal">
          <ion-icon name="md-calendar"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <shrinking-segment-header [scrollArea]="myContent" headerHeight="185" class="hero" [ngStyle]="{ 'background-image': 'url(' + team.bg + ')'}">
    <div class="topContent">
      <ion-slides class="topSlides" pager dir="rtl">
        <ion-slide>
          <div class="teamAvatar" [ngStyle]="{ 'background-image': 'url(' + team.logo + ')'}"></div>
          <div class="infoSlideBottom">
            <h3 class="white bold">{{team.name}}</h3>
            <h5 class="white">{{team.city}}</h5>
            <button style="    position: absolute;top: 70px;left: 70px;" *ngIf="isCaptain" (click)='addPlayer()' ion-button clear icon-only color="white">
                <ion-icon name="person-add"></ion-icon>
            </button>
          </div>
        </ion-slide>
        <ion-slide>
          <ion-chip color="gold">
            <ion-label>متقدم الترتيب</ion-label>
          </ion-chip>
          <ion-chip color="lightBlue">
            <ion-label>لعب نظيف</ion-label>
          </ion-chip>
          <ion-chip color="darkBlue">
            <ion-label>شيء اخر</ion-label>
          </ion-chip>
        </ion-slide>
        <ion-slide>
          <h5 class="white">تأسس الفريق: {{team.estDate}}</h5>
        </ion-slide>
      </ion-slides>
    </div>
  </shrinking-segment-header>

  <ion-toolbar no-padding color="white" mode="md">
    <ion-segment color="orange" mode="md" [(ngModel)]="section" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="one">
        <ion-icon class="largeIcon" name="ios-people"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="two">
        <ion-icon class="largeIcon" name="md-trophy"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="three">
        <ion-icon class="largeIcon" name="md-calendar"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content fullscreen #myContent>
  <div class="profileBottom" [ngSwitch]="section">
    <ion-list *ngSwitchCase="'one'" no-margin>
      <ion-item-divider>لاعبي الفريق</ion-item-divider>
      <ion-item class="fixedBorder" *ngFor="let player of playersList">
        <span item-start>
            <profile-pic userID="{{player.$key}}"></profile-pic>
          </span>
        <span item-content>
            <ion-chip color="orange">
              <ion-label>{{player.position}}</ion-label>
            </ion-chip>
            <button ion-button clear (click)='showPlayer(player)'>
              <h2>{{player.name}}</h2>
            </button>
          </span>
        <span *ngIf="this.team.captain == player.$key" item-end>
            <ion-chip color="gold">
              <ion-label>كابتن</ion-label>
            </ion-chip>
          </span>
        <span *ngIf="this.team.captain != player.$key && isCaptain == true" item-end>
            <ion-icon (click)="removePlayer(player)" color="danger" class="largeIcon" name="trash"></ion-icon>
          </span>
      </ion-item>
    </ion-list>
    <div *ngSwitchCase="'two'">
      <ion-item-divider>
        البطولات
      </ion-item-divider>
      <h6 text-center>قريباً</h6>
    </div>
    <div *ngSwitchCase="'three'">
      <ion-item-divider>
        التقويم
      </ion-item-divider>
      <ion-list no-margin>
        <span *ngFor="let month of months">
        <ion-item-divider class="monthLabel">
          {{month.name}}
        </ion-item-divider>
        <span *ngFor="let match of matches | async">
          <ion-item *ngIf="match.date.substring(0, 2) == month.num" class="fixedBorder" (click)="openMatchRequest(match)">
            <match-item text-center home="{{match.homeTeam}}" away="{{match.awayTeam}}"></match-item>
            <date text-center requestID="{{match.$key}}" day="true"></date>
          </ion-item>
        </span>
        </span>
      </ion-list>
    </div>
  </div>
</ion-content>
