<!--
  Generated template for the EditProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>

    <ion-buttons start>
      <button ion-button (click)="closeModal()">إغلاق</button>
    </ion-buttons>
    <ion-title>تعديل بياناتي</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <form name="editForm" novalidate>
    <div [formGroup]='editForm'>
      <ion-item text-center>
        <div on-tap='changePhoto()' class="avatar" style="background-image: url('https://pbs.twimg.com/profile_images/869460661180542976/KjsN06DG_400x400.jpg');"></div>
      </ion-item>
      <ion-item>
        <ion-input type="text" [(ngModel)]="user.name" [class.invalid]="!editForm.controls.name.valid && (editForm.controls.name.dirty || submitAttempt)" formControlName='name' placeholder="الاسم كامل"></ion-input>
      </ion-item>
      <ion-item dir="ltr">
        <ion-label>
          <h1>@</h1></ion-label>
        <ion-input type="text" [(ngModel)]="user.originalUsername" formControlName='username' placeholder="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>المركز</ion-label>
        <ion-select [(ngModel)]="user.position" formControlName='position' name="position" interface='popover'>
          <ion-option value="GK" selected>حارس</ion-option>
          <ion-option value="DF">دفاع</ion-option>
          <ion-option value="CM">وسط</ion-option>
          <ion-option value="AT">مهاجم</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input dir='ltr' type="text" [(ngModel)]="user.email" formControlName='email' placeholder="البريد الالكتروني"></ion-input>
      </ion-item>

      <div padding>
        <p *ngIf="!editForm.controls.name.valid && (submitAttempt)" style="color: #ea6153;">الرجاء ادخال الاسم.</p>
        <p *ngIf="currentUsername != user.originalUsername && !editForm.controls.username.valid && !editForm.controls.username.pending && (submitAttempt || editForm.controls.username.dirty)" style="color: #ea6153;">
          اسم المستخدم غير متاح، الرجاء اختيار اسم آخر.
        </p>
        <p *ngIf="!editForm.controls.email.valid && (submitAttempt)" style="color: #ea6153;">الرجاء ادخال ايميل صحيح.</p>
        <p *ngIf="usedEmail" style="color: #ea6153;">
          الايميل مستخدم من قبل شخص آخر.
        </p>
        <p *ngIf="editForm.controls.username.pending">
          جاري التأكد من اسم المستخدم...
        </p>
      </div>
    </div>
  </form>

</ion-content>



<ion-footer no-shadow>
  <ion-toolbar position="bottom">
    <button ion-button block color="orange" (click)="update(user)">تحديث</button>
  </ion-toolbar>
</ion-footer>
