page-message {
  .userThumb {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    border-radius: 50%;
  }
  .bottomBar {
    background-color: #f4f4f4;
  }
  ion-input {
    background-color: white;
    border-radius: 35px;
    padding-right: 10px;
  }
  .text-input {
    margin: 0;
  }
  .textarea {
    width: 100%;
    border: 0;
    border-radius: 35px;
    padding-right: 10px;
    margin-top: 10px;
    margin-right: 5px;
  }
  ion-avatar {
    margin: 2px !important;
  }
  ion-label {
    margin: 0px 5px !important;
  }
  ion-item {
    padding-right: 10px !important;
  }
  .bubble {
    border-radius: 15px;
    box-shadow: 0 0 1px #B2B2B2;
    display: inline-block;
    padding: 2px 18px;
    position: relative;
    vertical-align: top;
  }
  .me {
    background-color: #efefef;
    float: right;
    margin: 5px;
  }
  .you {
    float: left;
    margin: 5px;
  }
  .chatwindow {
    padding-top: 10px;
  }
  name:hover {
    color: #e8e8e8;
  }
  .status {
    padding-right: 65px;
    height: 12px;
    line-height: 0;
    margin-top: -7px;
    word-spacing: -4px;
  }
}
