<!-- Generated template for the TeamCardComponent component -->
<ion-card [@fadeInOut] [ngClass]="className ? className : 'card1'">
  <ion-item>
    <ion-avatar item-start>
      <img on-tap='openTeam(teamInfo)' src="{{teamInfo.logo}}" alt="">
    </ion-avatar>
    <h2>{{teamInfo.name}}</h2>
    <p>{{teamInfo.city}}</p>
    <div class="more" text-left>
      <button ion-button (click)='presentActionSheet(teamInfo)' clear>
        <ion-icon class="mdIcon" name="md-more"></ion-icon>
      </button>
    </div>
  </ion-item>
  <div *ngIf='teamInfo.bg' class="bg" on-tap='openTeam(teamInfo)' [ngStyle]="{ 'background-image': 'url(' + teamInfo.bg + ')'}">

  </div>
  <div *ngIf='!teamInfo.bg' class="bg" on-tap='openTeam(teamInfo)' style="background-image: url(https://www.buscandonomes.com.br/_img/xthumb-default.gif.pagespeed.ic.yQYWf40TN9.png">

  </div>
  <div class="card-content" text-center>
    <ion-row justify-content-center>
      <ion-col col-3>
        <ion-icon padding-horizontal class="largeIcon" name="ios-people" color='lightBlue'></ion-icon>
        <p>
          <span *ngIf="playersNum == 0">لا يوجد</span>
          <span *ngIf="playersNum > 0">{{playersNum}}</span>
        </p>
      </ion-col>
      <p style="font-weight: bold; font-size: large;">
        &middot;
      </p>
      <ion-col col-3>
        <ion-icon padding-horizontal class="largeIcon" name="md-trophy" color='gold'></ion-icon>
        <p>
          لا يوجد
        </p>
      </ion-col>
      <p style="font-weight: bold; font-size: large;">
        &middot;
      </p>
      <ion-col col-3>
        <div class="set-size charts-container">
          <div class="pie-wrapper progress-90">
            <span class="label">90<span class="smaller">%</span></span>
            <div class="pie">
              <div class="left-side half-circle"></div>
              <div class="right-side half-circle"></div>
            </div>
          </div>
        </div>
        <p dir="ltr"><span style="color: gold">10</span> I <span style="color: red">1</span></p>
      </ion-col>
    </ion-row>
  </div>
</ion-card>
