<!-- Generated template for the TeamCardComponent component -->
<ion-card [@fadeInOut] [ngClass]="className ? className : 'card1'">
  <ion-item>
    <span *ngIf="isCaptain" class="ribbon">كابتن</span>
    <ion-avatar item-start>
      <img on-tap='openTeam(teamInfo)' src="{{teamInfo.logo}}" alt="">
    </ion-avatar>
    <h2>{{teamInfo.name}}</h2>
    <p>{{teamInfo.city}}</p>
    <div padding class="more" text-left>
      <button ion-button (click)='presentActionSheet(teamInfo)' clear>
        <ion-icon class="mdIcon" name="ios-more"></ion-icon>
      </button>
    </div>
  </ion-item>
  <div *ngIf='teamInfo.bg' class="bg" on-tap='openTeam(teamInfo)' [ngStyle]="{ 'background-image': 'url(' + teamInfo.bg + ')'}">

  </div>
  <div *ngIf='!teamInfo.bg' class="bg" on-tap='openTeam(teamInfo)' style="background-image: url(https://www.buscandonomes.com.br/_img/xthumb-default.gif.pagespeed.ic.yQYWf40TN9.png">

  </div>
  <div class="card-content" text-center>
    <team-bar teamID="{{team.$key}}"></team-bar>
  </div>
</ion-card>
