page-home {
  .avatar {
    background-color: grey;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    height: 30px;
    left: auto;
    position: relative;
    width: 30px;
  }
  ion-list {
    margin-bottom: 10px !important;
  }
  .blur {
    filter: blur(1px);
    transition: 1s filter linear;
  }
  .unblur {
    filter: blur(0px);
    transition: 1s filter linear;
  }
}
