<ion-header>
  <ion-navbar>
    <ion-buttons *ngIf='teamDB.loggedIn && currentUser.originalUsername' end>
      <div tappable (click)="openModal()" style="height: 35px;">
        <profile-pic className="avatar" type="user" ID="{{teamDB.userInfo.uid}}"></profile-pic>
      </div>
    </ion-buttons>
    <ion-buttons *ngIf='!teamDB.loggedIn' end>
      <button (click)="loginPage()" ion-button icon-only>
        <ion-icon name="ios-log-in"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons *ngIf='teamDB.loggedIn' start>
      <button padding-right (click)="compose()" ion-button icon-only>
        <ion-icon name="ios-albums-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>الرئيسية</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="اسحب للتحديث" refreshingSpinner="dots" refreshingText="جاري التحديث...">

    </ion-refresher-content>
  </ion-refresher>
  <ion-segment padding-horizontal [(ngModel)]="type" color="orange" mode="md" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="all">عام</ion-segment-button>
    <ion-segment-button value="match">مباريات</ion-segment-button>
    <ion-segment-button value="player">لاعبين</ion-segment-button>
  </ion-segment>
  <div>
    <span *ngIf="!allPosts">
        <div [ngStyle]="{ 'opacity': allPosts ? '0' : '1'}" *ngFor="let number of [0,1,2,3,4,5...,18,19]" padding-horizontal class="timeline-wrapper">
          <div class="timeline-item">
            <div class="animated-background">
              <div class="background-masker round-thumb"></div>
              <div class="background-masker header-top"></div>
              <div class="background-masker header-left"></div>
              <div class="background-masker header-right"></div>
              <div class="background-masker header-bottom"></div>
              <div class="background-masker subheader-left"></div>
              <div class="background-masker subheader-right"></div>
              <div class="background-masker subheader-bottom"></div>
              <div class="background-masker content-top"></div>
              <div class="background-masker content-first-end"></div>
              <div class="background-masker content-second-line"></div>
              <div class="background-masker content-second-end"></div>
              <div class="background-masker content-third-line"></div>
              <div class="background-masker content-third-end"></div>
            </div>
          </div>
        </div>
    </span>
    <ion-slides dir="rtl" (ionSlideWillChange)="slideChanged()">
      <ion-slide>
        <post *ngFor="let post of allPosts" [post]="post"></post>
      </ion-slide>

      <ion-slide>
        <post *ngFor="let post of matchPosts" [post]="post">
        </post>
      </ion-slide>

      <ion-slide>
        <post *ngFor="let post of playerPosts" [post]="post">
        </post>
      </ion-slide>

    </ion-slides>

  </div>

</ion-content>
