page-home {
  .avatar {
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    height: 30px;
    left: auto;
    position: relative;
    width: 30px;
  }

  ion-list {
    margin-bottom: 0px !important;
  }

  .socialIcons {
    letter-spacing: 20px;
    text-align: center;
    font-size: 20px;
  }
}
