<!--
  Generated template for the MatchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>تفاصيل المباراة</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-row *ngIf="(request | async)?.status == 'pending' && currentUser" align-items-stretch>
    <ion-col col-7>
      <p text-start>هل ترغب بالموافقه على المباراة؟</p>
    </ion-col>
    <ion-col no-padding style="padding-left: 10px">
      <p text-left>
        <button (click)="acceptMatch()" ion-button color="secondary" small>موافق</button>
        <button (click)="declineMatch()" ion-button color="danger" outline small>إلغاء</button>
      </p>
    </ion-col>
  </ion-row>
  <ion-card class="card1">
    <ion-grid>
      <ion-row>
        <ion-col text-center>
          <img class="logo" on-tap='openTeam(homeTeam)' src="{{homeTeam.logo}}" alt=""> {{homeTeam.name}}
          <h1>0</h1>
        </ion-col>
        <ion-col text-center style="padding-top: 60px;">
          <h3>VS</h3>
          <date requestID="{{requestInfo.$key}}" day="true"></date>
          <p>{{(request | async)?.time}}<br> {{(request | async)?.stadium}}
          </p>
        </ion-col>
        <ion-col text-center>
          <img class="logo" on-tap='openTeam(awayTeam)' src="{{awayTeam.logo}}" alt=""> {{awayTeam.name}}
          <h1>0</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-item-divider>
    المباريات السابقه
  </ion-item-divider>
  <ion-list no-margin>
    <ion-item class="fixedBorder">
      <div *ngIf="previousGames.length == 0" text-center>
        لا توجد مباريات سابقة
      </div>
      <ion-item *ngIf="previousGames.length != 0" class="fixedBorder">

      </ion-item>
    </ion-item>
  </ion-list>
</ion-content>
