<!--
  Generated template for the EditProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>

    <ion-buttons start>
      <button ion-button (click)="closeModal()">إغلاق</button>
    </ion-buttons>
    <ion-title>إعدادات الفريق</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card class="card1">
    <button ion-item (click)="presentActionSheet('logo')">
      <div *ngIf="team.logo" class="avatar" [ngStyle]="{ 'background-image': 'url(' + team.logo + ')'}"></div>
    </button>
    <button ion-item (click)="presentActionSheet('bg')">
      <div *ngIf="team.bg" class="avatar" [ngStyle]="{ 'background-image': 'url(' + team.bg + ')'}"></div>
      <div *ngIf="!team.bg" class="avatar" style="background-image: url('https://www.buscandonomes.com.br/_img/xthumb-default.gif.pagespeed.ic.yQYWf40TN9.png');"></div>
    </button>
    <ion-item>
      <ion-input [(ngModel)]="team.name" name="name" type="text" placeholder="اسم فريقك" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>المدينة</ion-label>
      <ion-select [(ngModel)]="team.city" name="city" interface='popover'>
        <ion-option value="الرياض" selected>الرياض</ion-option>
        <ion-option value="جده">جده</ion-option>
        <ion-option value="الدمام">الدمام</ion-option>
      </ion-select>
    </ion-item>
    <div text-center padding>
      <button block ion-button color="orange" (click)="update(team)">تحديث</button>
    </div>
  </ion-card>

</ion-content>
