<!--
  Generated template for the NotificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>التنبيهات</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="اسحب للتحديث" refreshingSpinner="dots" refreshingText="جاري التحديث...">

    </ion-refresher-content>
  </ion-refresher>

  <ion-item-divider color="light">طلبات</ion-item-divider>
  <h6 text-center *ngIf="teamsRequest?.length == 0 && matchRequests?.length == 0">لا يوجد <span>😴</span></h6>
  <ion-item-group *ngIf="teamsRequest?.length > 0">
    <ion-list no-margin>
      <ion-item class="fixedBorder" *ngFor="let team of teamsRequest">
        <span item-start>
          <ion-avatar on-tap='openTeam(team.teamInfo.$key)'>
            <profile-pic ID="{{team.teamInfo.$key}}" type="team">
            </profile-pic>
          </ion-avatar>
        </span>
        <ion-icon color="darkBlue" name="ios-person-add-outline" item-start></ion-icon>
        <h2>{{team.teamInfo.name}}</h2>
        <span item-end style="margin-bottom: 16px;">
          <button (click)="acceptTeam(team.teamInfo)" ion-button color="secondary">موافق</button>
          <button (click)="declineTeam(team.teamInfo)" ion-button color="danger" outline>إلغاء</button>
        </span>
      </ion-item>
    </ion-list>
  </ion-item-group>
  <ion-item-group *ngIf="matchRequests?.length > 0">
    <ion-list no-margin>
      <ion-item class="fixedBorder" *ngFor="let team of matchRequests">
        <span item-start>
          <ion-avatar on-tap='openTeam(team.teamInfo.$key)'>
            <profile-pic ID="{{team.teamInfo.$key}}" type="team">
            </profile-pic>
          </ion-avatar>
        </span>
        <ion-icon color="darkBlue" name="ios-calendar-outline" item-start></ion-icon>
        <h2>{{team.teamInfo.name}}</h2>
        <span item-end style="margin-bottom: 16px;">
            <button (click)="openMatchRequest(team.request)" ion-button small outline>تفاصيل المباراة</button>
          </span>
      </ion-item>
    </ion-list>
  </ion-item-group>
  <ion-item-divider>اخر التحديثات</ion-item-divider>
  <ion-list no-margin>
    <ion-item class="fixedBorder" *ngFor="let notification of userNotification | async">
      <ion-row align-items-center>
        <ion-col col-1>
          <ion-avatar margin-left>
            <profile-pic ID="{{notification.by}}" type="team">
            </profile-pic>
          </ion-avatar>
        </ion-col>
        <ion-col col-8>
          <ion-row>
            <p class="notificationBody" *ngIf="notification.type == 'joinedTeam'">
              اتممت الانضمام لفريق&nbsp;
              <span on-tap="openTeam(notification.by)" style="color: black">
                <name ID="{{notification.by}}" type="team">
                </name>
              </span>
            </p>
          </ion-row>
        </ion-col>
        <ion-col col-3>
          <p style="text-align: end">
            <date date="{{notification.date}}"></date>
          </p>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

</ion-content>
