page-notification {
  .listAvatar {
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    height: 50px;
    left: auto;
    position: relative;
    width: 50px;
    margin-top: 2px;
  }
  .item-ios h2:last-child,
  .item-ios h3:last-child,
  .item-ios h4:last-child,
  .item-ios h5:last-child,
  .item-ios h6:last-child,
  .item-ios p:last-child {
    margin-bottom: 4px;
  }
  .notificationBody {
    line-height: 1.4;
    padding-right: 10px;
    white-space: initial;
  }
  date>p {
    line-height: 1 !important;
    white-space: initial;
    direction: ltr;
    text-align: -webkit-left;
  }
  .msgsBadge {
    background-color: red;
    margin-left: -10px;
    margin-top: -15px;
    z-index: 99;
  }
}
