<!--
  Generated template for the NotificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button (click)='openMessages()' ion-button icon-only color="royal">
        <ion-badge class="msgsBadge" *ngIf='(messages | async)?.length > 0'>
          {{(messages | async)?.length}}
        </ion-badge>
        <ion-icon name="ios-mail"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>التنبيهات</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="اسحب للتحديث" refreshingSpinner="dots" refreshingText="جاري التحديث...">

    </ion-refresher-content>
  </ion-refresher>

  <ion-item-divider color="light">طلبات</ion-item-divider>
  <h6 text-center *ngIf="((requests | async)?.length) == 0">لا يوجد <span>😴</span></h6>
  <ion-item-group>
    <ion-list no-margin>
      <div class="fixedBorder" *ngFor="let request of requests | async">
        <ion-item *ngIf="request.type == 'teamRequest'">
          <span item-start>
            <ion-avatar on-tap='openTeam(request.teamID)'>
              <profile-pic ID="{{request.teamID}}" type="team">
              </profile-pic>
            </ion-avatar>
          </span>
          <ion-icon color="darkBlue" name="ios-person-add-outline" item-start></ion-icon>
          <h2>
            <name ID="{{request.teamID}}" type="team"></name>
          </h2>
          <span item-end style="margin-bottom: 16px;">
            <button (click)="acceptTeam(request.teamID, request.$key)" ion-button color="secondary">موافق</button>
            <button (click)="declineTeam(request.teamID, request.$key)" ion-button color="danger" outline>إلغاء</button>
          </span>
        </ion-item>
        <ion-item *ngIf="request.type == 'matchRequest'">
          <span item-start>
            <ion-avatar on-tap='openTeam(request.homeTeam)'>
              <profile-pic ID="{{request.homeTeam}}" type="team">
              </profile-pic>
            </ion-avatar>
          </span>
          <ion-icon color="darkBlue" name="ios-calendar-outline" item-start></ion-icon>
          <h2>
            <name ID="{{request.homeTeam}}" type="team"></name>
          </h2>
          <span item-end style="margin-bottom: 16px;">
            <button (click)="openMatchRequest(request.matchID)" ion-button small outline>تفاصيل المباراة</button>
          </span>
        </ion-item>
      </div>
    </ion-list>
  </ion-item-group>
  <ion-item-divider>
    <ion-row>
      <ion-col col-9>
        اخر التحديثات
      </ion-col>

      <ion-col col-3 on-tap="clearAll()">
        <p style="color: red" text-end>حذف الكل</p>
      </ion-col>
    </ion-row>
  </ion-item-divider>
  <ion-list no-margin>
    <ion-item-sliding *ngFor="let notification of userNotification | async | reverse">
      <ion-item class="fixedBorder">
        <ion-row align-items-center>
          <ion-col col-1 no-padding>
            <ion-avatar *ngIf="notification.type == 'joinedTeam' || notification.type == 'matchAccepted' ||  notification.type == 'matchDeclined'"
              on-tap="openTeam(notification.team)" margin-left>
              <profile-pic ID="{{notification.team}}" type="team">
              </profile-pic>
            </ion-avatar>
            <ion-avatar *ngIf="notification.type == 'playerJoined' || notification.type == 'declinedTeamInvite' || notification.type == 'postComment' || notification.type == 'likedPost'"
              on-tap="openPlayer(notification.player)" margin-left>
              <profile-pic ID="{{notification.player}}" type="user">
              </profile-pic>
            </ion-avatar>
          </ion-col>
          <ion-col col-8>
            <ion-row>
              <p class="notificationBody" *ngIf="notification.type == 'joinedTeam'">
                اتممت الانضمام لفريق
                <span on-tap="openTeam(notification.team)" style="color: black">
                <name ID="{{notification.team}}" type="team">
                </name>
                </span>
              </p>
              <p class="notificationBody" *ngIf="notification.type == 'matchAccepted'">
                فريق
                <span on-tap="openTeam(notification.team)" style="color: black">
                <name ID="{{notification.team}}" type="team">
                </name>
                </span> وافق على طلب
                <span on-tap="openMatchRequest(notification.matchID)" style="color: black">
                  المباراة
                </span> مع
                <span on-tap="openTeam(notification.otherTeam)" style="color: black">
                <name ID="{{notification.otherTeam}}" type="team">
                </name>
                </span>
              </p>
              <p class="notificationBody" *ngIf="notification.type == 'matchDeclined'">
                فريق
                <span on-tap="openTeam(notification.team)" style="color: black">
                <name ID="{{notification.team}}" type="team">
                </name>
                </span> لم يوافق على طلب
                <span on-tap="openMatchRequest(notification.matchID)" style="color: black">
                  المباراة
                </span> مع
                <span on-tap="openTeam(notification.otherTeam)" style="color: black">
                <name ID="{{notification.otherTeam}}" type="team">
                </name>
                </span>
              </p>
              <p class="notificationBody" *ngIf="notification.type == 'playerJoined'">
                اللاعب
                <span on-tap="openPlayer(notification.player)" style="color: black">
                <name ID="{{notification.player}}" type="user">
                </name>
              </span> انضم الى فريق
                <span on-tap="openTeam(notification.team)" style="color: black">
                <name ID="{{notification.team}}" type="team">
                </name>
                </span>
              </p>
              <p class="notificationBody" *ngIf="notification.type == 'declinedTeamInvite'">
                اللاعب
                <span on-tap="openPlayer(notification.player)" style="color: black">
                <name ID="{{notification.player}}" type="user">
                </name>
              </span> رفض الانضمام الى فريق
                <span on-tap="openTeam(notification.team)" style="color: black">
                <name ID="{{notification.team}}" type="team">
                </name>
                </span>
              </p>
              <p class="notificationBody" *ngIf="notification.type == 'postComment'">
                <span on-tap="openPost(notification.postID)" style="color: black">
                  "{{notification.message}}"
                </span> تعليق جديد من
                <span on-tap="openPlayer(notification.player)" style="color: black">
                  <name ID="{{notification.player}}" type="user">
                  </name>
                </span>
              </p>
              <p class="notificationBody" *ngIf="notification.type == 'likedPost'">
                ابدى اعجابه بـ
                <span on-tap="openPost(notification.postID)" style="color: black">
                  "{{notification.title}}"
                </span>
              </p>
            </ion-row>
          </ion-col>
          <ion-col col-3>
            <p style="text-align: end">
              <date date="{{notification.date}}"></date>
            </p>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item-options side="left" (ionSwipe)="clearNotification(notification.$key)">
        <button (click)="clearNotification(notification.$key)" ion-button expandable icon-only color="gold">
          <ion-icon color="white" name="md-remove-circle"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
