page-post {
  .postCard {
    margin: 0;
    width: 100%;
    box-shadow: unset;
  }
  .comments {
    display: none;
  }
  .bottomBar {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 99;
    background-color: #f4f4f4;
  }
  ion-input {
    background-color: white;
    border-radius: 35px;
    padding-right: 10px;
  }
  .text-input {
    margin: 0;
  }
  ion-item-sliding h3 {
    margin: 0px !important;
    line-height: 1.9 !important
  }
  post .card-content {
    top: 60px;
  }
  .label {
    margin: 1px;
  }
  #date p {
    line-height: 10px;
  }
  .item-inner {
    border-bottom: 0.55px solid #e8e8e8;
  }
  .item-wrapper:last-child .item-block {
    border-bottom: 0.55px solid #e8e8e8;
  }
  .postInfoBar {
    padding: 4px 0;
    margin-top: 50px;
  }
  .likeAvatar {
    width: 35px;
    height: 35px;
    border-radius: 25%;
  }
  .likesPreview {
    //background-color: rgba(221, 129, 33, 0.08);
    border-radius: 10px;
    position: absolute;
    right: 60px;
  }
  .content {
    background-color: #f7f7f7;
  }
}
