<!--
  Generated template for the PostPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>التفاصيل</ion-title>
    <ion-buttons end>
      <button (click)="options()" ion-button clear icon-only>
        <ion-icon name="md-more" color="white"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content #content flexible-keyboard>
  <post [postID]="post.$key" className="postCard">
  </post>
  <h5 padding-horizontal text-start>
    التعليقات
  </h5>
  <hr no-margin>
  <h6 *ngIf="(comments | async)?.length == 0" text-center>
    كن اول من يعلق
  </h6>
  <ion-list style="margin-bottom: 128px;" no-margin>
    <ion-item-sliding *ngFor="let comment of comments | async">
      <ion-item>
        <ion-avatar on-tap="openPlayer(comment.by)" item-start>
          <profile-pic ID="{{comment.by}}" type="user"></profile-pic>
        </ion-avatar>
        <h3>
          <name ID="{{comment.by}}" type="user"></name>
        </h3>
        <date id="date" date="{{comment.date}}"></date>
        <h5 text-right>
          {{comment.message}}
        </h5>
      </ion-item>
      <ion-item-options *ngIf="currentUserID == comment.by" side="left" (ionSwipe)="deleteComment(comment)">
        <button (click)="deleteComment(comment)" ion-button expandable icon-only color="danger">
          <ion-icon name="md-trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>

<ion-footer (touchstart)="footerTouchStart($event)">
  <ion-row align-items-center dir="rtl" class="bottomBar">
    <ion-col col-9 no-padding>
      <textarea class="textarea" rows="1" [(ngModel)]="comment" placeholder="ادخل تعليقك..." (keyup.enter)="sendComment()">
			</textarea>
    </ion-col>
    <ion-col col-3>
      <ion-buttons end>
        <button ion-button (touchstart)="touchSendButton($event)" round color="gold" [disabled]="comment.length == 0" small>
          <ion-icon name="md-checkmark" class="largeIcon" color="green"></ion-icon>
        </button>
      </ion-buttons>
    </ion-col>
  </ion-row>
</ion-footer>
