page-post {
  .postCard {
    margin: 0;
    box-shadow: 0px 14px 0px #0072bb;
    width: 100%;
    margin-bottom: 14px;
    padding-top: 8px;
  }
  .comments {
    display: none;
  }
  .bottomBar {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 99;
    background-color: #f4f4f4;
  }
  ion-input {
    background-color: white;
    border-radius: 35px;
    padding-right: 10px;
  }
  .text-input {
    margin: 0;
  }
  ion-item-sliding h3 {
    margin: 0 !important;
    line-height: 1 !important;
  }
  post .card-content {
    top: 50px;
  }
  .label {
    margin: 0;
  }
  .postInfoBar {
    padding: 4px 0;
  }
  .likeAvatar {
    width: 35px;
    height: 35px;
    border-radius: 25%;
  }
  .likesPreview {
    //background-color: rgba(221, 129, 33, 0.08);
    border-radius: 10px;
    position: absolute;
    right: 60px;
  }
}
