// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
//.content-ios:not([no-bounce])>.scroll-content::before { bottom: 0; }
@import url('https://fonts.googleapis.com/css?family=Cairo:400');
@font-face {
  font-family: "Helvetica Neue";
  src: url("../assets/fonts/HelveticaNeueLTArabic-Light.ttf");
}

* {
  font-family: "Helvetica Neue";
}

.mdIcon {
  font-size: 27px;
}

.largeIcon {
  font-size: 38px !important;
}

.toolbar-title-ios {
  letter-spacing: normal !important;
}

.noPadding {
  padding: 0px;
}

ion-item-divider {
  height: 40px; //background-color: #f7f7f7 !important;
}

ion-refresher {
  margin-top: 8px;
}

ion-card-header {
  font-size: 1.7rem !important;
  background-color: rgba(#0072bb, 0.14);
}

.card1 {
  border-radius: 6px !important;
  box-shadow: 0px 20px 150px #d6dee4 !important;
}

.card2 {
  border-radius: 6px !important;
  -webkit-box-shadow: 0px 20px 150px #d6dee4 !important;
  box-shadow: 0px 20px 60px #d6dee4 !important;
}

.fixedBorder {
  border-bottom: 0.55px solid #c8c7cc !important;
}

.fixedBorder>.item-inner {
  border-bottom: 0 !important;
}

// Hopefully temp until bug gets fixed (pushing page from modal cuts statusbar)
.toolbar-ios {
  height: 44px + $cordova-ios-statusbar-padding;
  padding-top: $cordova-ios-statusbar-padding;
}

// Calendar
ion-calendar-modal.matchCalender {
  ion-header {
    .toolbar-background-md,
    .toolbar-background-ios {
      background-color: #0072bb;
    }
    .toolbar-title-md,
    .toolbar-title-ios {
      color: #fff;
    }
    .bar-button-clear-md,
    .bar-button-clear-ios {
      color: #fff;
      font-size: 25px;
      letter-spacing: 10px;
    }
    .week-title {
      background-color: rgb(0, 114, 187);
      color: #fff;
    }
  }
  ion-content {
    .month-box {
      background-color: #white;
    }
    .days-btn,
    .month-title {
      color: #FF4C3B;
    }
    button.days-btn {
      width: 40px !important;
    }
    button.days-btn.on-selected {
      background-color: #FFD034 !important;
    }
    button.days-btn.marked {
      background-color: #e4f3fd;
    }
  }
}
