// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//.content-ios:not([no-bounce])>.scroll-content::before { bottom: 0; }
@import url('https://fonts.googleapis.com/css?family=Cairo:400');

@font-face {
  font-family: "Helvetica Neue";
  src: url("../assets/fonts/HelveticaNeueLTArabic-Light.ttf");
}
* {
  font-family: "Helvetica Neue";
}
.mdIcon {
  font-size: 20px;
}
.largeIcon {
  font-size: 30px;
}

.toolbar-title-ios {
  letter-spacing: normal !important;
}

.noPadding {
  padding: 0px;
}

ion-item-divider {
  height: 45px;
}

ion-refresher {
  margin-top: 8px;
}

ion-card-header {
  font-size: 1.7rem !important;
  background-color: rgba(56, 145, 202, 0.09);
}

ion-card {
  border-radius: 6px !important;
  box-shadow: 0px 20px 150px #d6dee4 !important;
}
