page-add-player-to-team {
  .teamsList {
    height: 20vh;
  }
  .checkbox-ios {
    height: 0px;
    position: absolute;
    right: 12px;
  }
  .swiper-slide img {
    max-height: 55px !important;
  }
  .logo {
    background-color: white;
    display: block;
    margin: auto;
    border: solid 1px rgba(255, 255, 255, 255);
    border-radius: 50%;
    border-radius: 50%;
    width: 55px;
    z-index: 10;
  }
  .card-title {
    font-size: 0.6em;
    text-align: center;
    line-height: 1;
  }
  ion-header {
    display: none;
  }
  ion-content {
    background-color: rgba(255, 255, 255, 0) !important;
  }
}
