<!--
  Generated template for the ComposePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button end (click)="submit()" [disabled]="composeForm.invalid" color="white" ion-button clear>
        ارسل
      </button>
    </ion-buttons>
    <ion-title>مشاركة جديده</ion-title>
    <button start (click)="closeModal()" ion-button clear icon-only style="height: 22px">
      <ion-icon color="light" name="close"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content padding-vertical>
  <ion-row class="padding-top btnsRow" align-items-stretch>
    <ion-col pull-1>
      <button (click)="closeModal()" color="orange" ion-button round small>
          إلغاء
        </button>
    </ion-col>
    <ion-col push-1>
      <button (click)="submit()" [disabled]="composeForm.invalid" color="gold" ion-button round small>
            ارسل
        </button>
    </ion-col>
  </ion-row>
  <ion-card class="card1" style="margin-top: 0; margin-bottom: 0;">
    <ion-segment class="typeSegment" [(ngModel)]="type" (ionChange)="segmentChanged()" color="orange" mode="md">
      <ion-segment-button value="general">عام</ion-segment-button>
      <ion-segment-button value="match">مباريات</ion-segment-button>
      <ion-segment-button value="player">لاعبين</ion-segment-button>
    </ion-segment>
    <form [formGroup]="composeForm">
      <div *ngIf="type == 'match' && selectedTeam" style="position: relative; padding: 10px;">
        <img class="bg" src="{{selectedTeam.bg}}" alt="">
        <img class="teamLogo" src="{{selectedTeam.logo}}" alt="">
        <h1 class="teamName">{{selectedTeam.name}}</h1>
        <div class="teamBar">
          <team-bar teamID="{{selectedTeam.$key}}"></team-bar>
        </div>
      </div>
      <player-post-card *ngIf="type == 'player'" playerID="{{player.$key}}"></player-post-card>
      <ion-item>
        <ion-avatar item-start>
          <profile-pic ID="{{player.$key}}" type="user"></profile-pic>
        </ion-avatar>
        <h2>{{player.name}}</h2>
        <p>{{player.originalUsername}}@</p>
      </ion-item>
      <ion-card-content>
        <div padding-bottom>
          <ion-item>
            <ion-input no-margin [(ngModel)]="title" style="font-size: large;" placeholder="العنوان" type="text" formControlName="title"></ion-input>
          </ion-item>
          <ion-note [ngClass]="{'red': (!composeForm.controls.title.valid && composeForm.controls.title.dirty)}" style="position: absolute;"
            *ngIf="title.length > 0">
            {{title.length}}/30
          </ion-note>
        </div>
        <hr/>
        <ion-row *ngIf="type == 'match' && myTeams?.length > 0">
          <ion-col col-9>
            <ion-slides class="teamsList" dir="rtl" slidesPerView="4">
              <ion-slide *ngFor="let team of myTeams">
                <img on-tap="selectTeam(team)" class="logo" src="{{team.logo}}" alt="">
                <div class="card-title">
                  {{team.name}}
                </div>
              </ion-slide>
            </ion-slides>
          </ion-col>
          <ion-col col-3>
            <div on-tap="openCalendar()" class="icon_calendar">
              <em></em><em></em>
              <label>{{month}}</label>
              <span>{{day}}</span>
            </div>
          </ion-col>
        </ion-row>
        <ion-item>
          <ion-textarea class="infoArea" [(ngModel)]="info" rows="2" placeholder="معلومات اخرى (اختياري)" type="text" formControlName="info"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </form>
    <ion-row>
      <ion-col text-center>
        <ion-note [ngClass]="{'red': (!composeForm.controls.info.valid && composeForm.controls.info.dirty)}" *ngIf="info.length > 0">
          {{info.length}}/300
        </ion-note>
      </ion-col>
      <ion-col>

      </ion-col>
      <ion-col center text-center>
        <ion-note>
          {{date}}
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
