<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="http://image.ibb.co/hKqonv/logo_main.png">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>


<ion-content class="welcomePage" no-bounce scroll="false">

  <div class='wave -one'></div>
  <div class='wave -two'></div>
  <div class='wave -three'></div>
  <div class="welcomeTop">
    <img class="AppLogo" src="https://image.ibb.co/ih434a/logo_main_dark.png" alt="">
  </div>

  <ion-slides pager class="welcomeSlides" ion-fixed dir="rtl">
    <ion-slide>
      <h3>هل انت جاهز لقبول التحدي؟</h3>
      <div class="welcomeBtns">
        <button color="orange" ion-button block (click)="slideRegister()">حساب جديد</button>
        <p text-right>
          لديك حساب؟ <button id="loginBtn" ion-button clear (click)="goToSlide()" small>سجل دخول</button>
        </p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="login">
        <form [formGroup]="loginForm" novalidate>
          <ion-item dir="ltr">
            <ion-label>
              <ion-icon class="largeIcon" name="ios-person-outline"></ion-icon>
            </ion-label>
            <ion-input type="text" [(ngModel)]="user.email" formControlName='email' placeholder="Username/Email"></ion-input>
          </ion-item>

          <ion-item dir="ltr">
            <ion-label>
              <ion-icon class="largeIcon" name="ios-key-outline"></ion-icon>
            </ion-label>
            <ion-input type="password" [(ngModel)]="user.password" formControlName='password' placeholder="Password"></ion-input>
          </ion-item>
          <button color="orange" ion-button block (click)="login(user)">الدخول</button>
          <p text-right style="margin: 0px;">
            <button ion-button clear (click)="resetPassword()" small>نسيت الرقم السري؟</button>
          </p>
        </form>
      </div>
    </ion-slide>
    <ion-slide>
      <form name="registerForm" novalidate>
        <div class="register" [formGroup]='registerForm'>
          <div class="errorMessages">
            <p *ngIf="user.username != '' && !registerForm.controls.username.valid && !registerForm.controls.username.pending && (submitAttempt || registerForm.controls.username.dirty)" style="color: #ea6153;">
              <ion-icon name="bug"></ion-icon>
              اسم المستخدم غير متاح، الرجاء اختيار اسم آخر.
            </p>
            <p *ngIf="usedEmail" style="color: #ea6153;">
              <ion-icon name="bug"></ion-icon>
              الايميل مستخدم من قبل شخص آخر.
            </p>
            <p *ngIf="!registerForm.controls.password.valid && (submitAttempt)" style="color: #ea6153;">
              <ion-icon name="bug"></ion-icon>
              يجب ان يكون الرقم السري اكثر من ٦ احرف/ارقام.</p>
          </div>
          <ion-item>
            <ion-input type="text" [(ngModel)]="user.name" [class.invalid]="!registerForm.controls.name.valid && (registerForm.controls.name.dirty || submitAttempt)" formControlName='name' placeholder="الاسم كامل"></ion-input>
          </ion-item>
          <ion-item dir="ltr">
            <ion-label>
              <h2>@</h2></ion-label>
            <ion-input type="text" [(ngModel)]="user.username" [class.invalid]="!registerForm.controls.username.valid && (registerForm.controls.username.dirty || submitAttempt)" formControlName='username' placeholder="Username"></ion-input>
          </ion-item>
          <ion-item dir="ltr">
            <ion-label>
              <ion-icon name="ios-mail-outline"></ion-icon>
            </ion-label>
            <ion-input class="email" type="text" [(ngModel)]="user.email" [class.invalid]="!registerForm.controls.email.valid && (registerForm.controls.email.dirty || submitAttempt)" formControlName='email' placeholder="Email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" [(ngModel)]="user.password" [class.invalid]="!registerForm.controls.password.valid && (registerForm.controls.password.dirty || submitAttempt)" formControlName='password' placeholder="الرقم السري"></ion-input>
          </ion-item>

          <button ion-button block (click)="register(user)" color="gold">التسجيل</button>
        </div>
      </form>
    </ion-slide>
  </ion-slides>
</ion-content>
