page-welcome {
  .bottom {
    padding: $content-padding;
    position: fixed;
    bottom:0;
    left: 0;
    right: 0;
  }
  h1 {
    color: rgb(8, 37, 61);
    font-size: 50px;
    padding-top: 30px;
    padding-right: 30px;
  }

  .welcome-page {

  .toolbar-background {
    background: #fff;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  .slide-image {
    max-height: 50%;
    max-width: 60%;
    margin: 18px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }

}

}
