<ion-header>

  <ion-navbar>
    <ion-searchbar [(ngModel)]="queryString" (ionInput)="getItems($event)" placeholder='بحث'></ion-searchbar>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-segment color="orange" mode="md" [(ngModel)]="type" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="teams">
      فريق
    </ion-segment-button>
    <ion-segment-button value="players">
      لاعب
    </ion-segment-button>
  </ion-segment>
  <ion-list *ngIf="queryString && queryString.length>0">
    <button ion-item clear *ngFor="let item of items | async" (click)="open(item)">
      <ion-row>
          <ion-avatar padding-right>
            <img *ngIf="type == 'players'" src="{{item.profilePic}}" alt="">
            <img *ngIf="type == 'teams'" src="{{item.logo}}" alt="">
          </ion-avatar>
          <h2 style="margin: 0 0 8px;" id="itemInfo" margin-bottom>{{ item.name }}</h2>
          <p *ngIf="type == 'players'" color="orange">&nbsp;{{item.username}}</p>
          <p *ngIf="type == 'teams'" color="orange">&nbsp;{{item.city}}</p>
      </ion-row>
    </button>
  </ion-list>
  <p text-center *ngIf='((items | async)?.length == 0) && queryString && (queryString.length != 0)'>
    لا يوجد نتائج
  </p>

</ion-content>
