page-my-team {
  .button {
    border: none;
  }
  .monthLabel {
    background: #FFD034;
    text-align: left;
    font-weight: 300;
  }
  .matchLogo {
    display: block;
    margin: auto;
    border: solid 1px rgba(255, 255, 255, 255);
    border-radius: 50%;
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
  ion-card {
    position: relative;
    text-align: center;
  }
  .bg {
    background-position: center;
    background-size: cover;
    height: 100px;
    filter: brightness(0.7);
    background-color: lightgrey;
  }
  .more {
    position: absolute;
    width: 10px;
    left: 5%;
    top: 0;
  }
  .card-content {
    position: absolute;
    top: 50%;
    width: 100%;
  }
}
