<!--
  Generated template for the MyTeamPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>فريقي</ion-title>
    <ion-buttons end>
      <button (click)='startTeam()' ion-button icon-only color="royal">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item-group *ngIf="hasRequests == true">
    <ion-item-divider color="light">طلبات الانضمام</ion-item-divider>
    <ion-card *ngFor="let team of teamsRequest">
      <div (click)='openTeam(team)'>
        <img src="https://cdn-arkquizzstoragelive.akamaized.net/cdn/1310e09e-7d5e-4efd-97a0-ebf63d923da0_manu.png">
      </div>
      <ion-item>
        <ion-icon name="football" item-start large></ion-icon>
        <h2>{{team.id}}</h2>
        <p>{{team.dateRequested}}</p>
      </ion-item>
    </ion-card>
  </ion-item-group>
  <div *ngIf="hasTeam == true">
    <ion-item-divider color="light">الفرق منتمي لها</ion-item-divider>
    <ion-card *ngFor="let team of myTeams | async">
      <div (click)='openTeam(team)'>
        <img src="https://cdn-arkquizzstoragelive.akamaized.net/cdn/1310e09e-7d5e-4efd-97a0-ebf63d923da0_manu.png">
      </div>
      <ion-item>
        <ion-icon name="football" item-start large></ion-icon>
        <h2>{{team.name}}</h2>
        <p>{{team.city}}</p>
      </ion-item>
    </ion-card>
  </div>
  <div *ngIf="hasTeam == false">
    <button ion-button (click)='startTeam()' block>إبدأ فريقك</button>
    <button ion-button block color="light">إنضم لفريق</button>
  </div>

</ion-content>
