<!--
  Generated template for the MyTeamPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>فريقي</ion-title>
    <ion-buttons end>
      <button (click)='startTeam()' ion-button icon-only color="royal">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content [ngClass]="blur ? 'blur' : 'unblur'">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="اسحب للتحديث" refreshingSpinner="dots" refreshingText="جاري التحديث...">

    </ion-refresher-content>
  </ion-refresher>
  <ion-item-divider>
    جميع الفرق المشارك فيها
  </ion-item-divider>
  <ion-item-group padding-bottom *ngIf="myTeams?.length > 0 ">
    <ion-row *ngFor="let team of myTeams">
      <team-card style="width: 100%" [team]='team'></team-card>
    </ion-row>
  </ion-item-group>
  <div padding *ngIf="myTeams?.length == 0">
    <h6 text-center>ابدأ فريقك الان</h6>
  </div>
  <ion-item-divider>
    مبارياتي القادمة
  </ion-item-divider>
  <ion-list no-margin>
    <span *ngFor="let month of months">
    <ion-item-divider class="monthLabel">
      {{month.name}}
    </ion-item-divider>
    <span *ngFor="let match of matches">
      <ion-item *ngIf="match.date.substring(0, 2) == month.num" class="fixedBorder" (click)="openMatchRequest(match)">
        <match-item text-center home="{{match.homeTeam}}" away="{{match.awayTeam}}"></match-item>
        <date text-center requestID="{{match.$key}}" day="true"></date>
      </ion-item>
    </span>
    </span>
  </ion-list>
  <div padding *ngIf="matches.length == 0">
    <h6 text-center>ابحث عن مباريات في الرئيسية</h6>
  </div>

</ion-content>
