<!--
  Generated template for the PlayerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button (click)="options()" ion-button icon-only>
        <ion-icon name="md-more" color="white"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{player.name}}</ion-title>
  </ion-navbar>

  <shrinking-segment-header [scrollArea]="myContent" headerHeight="185" class="hero" [ngStyle]="{ 'background-image': 'url(' + player.bg + ')'}">
    <div class="topContent">
      <ion-slides pager dir="rtl">
        <ion-slide>
          <profile-pic className="avatar" ID="{{playerID}}" type="user"></profile-pic>
          <ion-icon *ngIf='currentUser' (click)="openModal(player)" class="largeIcon editIcon" color="light" name="ios-cog"></ion-icon>
          <h3 class="white bold">{{player.name}}</h3>
          <h5 class="white">{{player.originalUsername}}@</h5>
        </ion-slide>
        <ion-slide>
          <ion-chip color="gold">
            <ion-label>{{player.position}}</ion-label>
          </ion-chip>
          <ion-chip color="lightBlue">
            <ion-label>صانع العاب</ion-label>
          </ion-chip>
          <ion-chip color="darkBlue">
            <ion-label>مهاري</ion-label>
          </ion-chip>
        </ion-slide>
        <ion-slide>
          <h5 class="white">تواصل معي:</h5>
          <div class="socialIcons">
            <ion-icon class="largeIcon" name="logo-twitter"></ion-icon>
            <ion-icon class="largeIcon" name="logo-facebook"></ion-icon>
            <ion-icon class="largeIcon" name="logo-instagram"></ion-icon>
            <ion-icon class="largeIcon" name="logo-snapchat"></ion-icon>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
  </shrinking-segment-header>

  <ion-toolbar no-padding color="white" mode="md">
    <ion-segment class="segment" color="orange" mode="md" [(ngModel)]="section" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="0">
        <ion-icon name="md-football"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-icon name="md-trophy"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-icon name="md-medal"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content fullscreen #myContent>
  <div class="profileBottom">
    <ion-slides dir="rtl" parallax="true" (ionSlideWillChange)="slideChanged()">
      <ion-slide>
        <ion-item-divider>فرق اللاعب</ion-item-divider>
        <ion-row align-items-start *ngIf="myTeams?.length > 0">
          <ion-col col-4 col-sm no-padding wrap *ngFor="let team of myTeams">
            <ion-card class="profileCards">
              <img class="logo" on-tap='openTeam(team)' src="{{team.logo}}" alt="">
              <div class="bg" *ngIf='team.bg' on-tap='openTeam(team)' [ngStyle]="{ 'background-image': 'url(' + team.bg + ')'}">
              </div>
              <div class="bg" *ngIf='!team.bg' on-tap='openTeam(team)' style="background-image: url('https://www.buscandonomes.com.br/_img/xthumb-default.gif.pagespeed.ic.yQYWf40TN9.png')">
              </div>
              <div class="card-title">
                {{team.name}}
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-slide>
      <ion-slide>
        <ion-item-divider>
          احصائيات اللاعب
        </ion-item-divider>
        <h6 text-center>قريباً</h6>
      </ion-slide>
      <ion-slide>
        <ion-item-divider>
          ميداليات اللاعب
        </ion-item-divider>
        <h6 text-center>قريباً</h6>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
