<!--
  Generated template for the PlayerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button *ngIf='!currentUser' (click)="addPlayer()" ion-button icon-only>
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{player.name}}</ion-title>
  </ion-navbar>

  <shrinking-segment-header [scrollArea]="myContent" headerHeight="185" class="hero" style="background-image: url('http://www.publicdomainpictures.net/pictures/50000/nahled/sunset-profile-background.jpg');">
    <div class="topContent">
      <ion-slides pager dir="rtl">
        <ion-slide>
          <profile-pic userID="{{player.$key}}"></profile-pic>
          <ion-icon *ngIf='currentUser' (click)="openModal(player)" class="largeIcon editIcon" color="light" name="ios-cog"></ion-icon>
          <h3 class="white bold">{{player.name}}</h3>
          <h5 class="white">{{player.originalUsername}}@</h5>
        </ion-slide>
        <ion-slide>
          <ion-chip color="gold">
            <ion-label>{{player.position}}</ion-label>
          </ion-chip>
          <ion-chip color="lightBlue">
            <ion-label>صانع العاب</ion-label>
          </ion-chip>
          <ion-chip color="darkBlue">
            <ion-label>مهاري</ion-label>
          </ion-chip>
        </ion-slide>
        <ion-slide>
          <h5 class="white">تواصل معي:</h5>
          <div class="socialIcons">
            <ion-icon class="largeIcon" name="logo-twitter"></ion-icon>
            <ion-icon class="largeIcon" name="logo-facebook"></ion-icon>
            <ion-icon class="largeIcon" name="logo-instagram"></ion-icon>
            <ion-icon class="largeIcon" name="logo-snapchat"></ion-icon>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
  </shrinking-segment-header>

  <ion-toolbar no-padding color="white" mode="md">
    <ion-segment class="segment" color="orange" mode="md" [(ngModel)]="section" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="one">
        <ion-icon name="md-football"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="two">
        <ion-icon name="md-trophy"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="three">
        <ion-icon name="md-medal"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content fullscreen #myContent>
  <div class="profileBottom" [ngSwitch]="section">
    <div *ngSwitchCase="'one'">
      <ion-row align-items-start *ngIf="myTeams?.length > 0">
        <ion-col col-3 col-sm class="noPadding" wrap *ngFor="let team of myTeams">
          <ion-card class="profileCards">
            <img on-tap='openTeam(team)' src="https://s-media-cache-ak0.pinimg.com/originals/0e/da/ec/0edaec258266cf651b9124a92f389c6b.png">
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
    <div *ngSwitchCase="'two'">
      تاب ٢
    </div>
    <div *ngSwitchCase="'three'">
      تاب ٣
    </div>
  </div>
</ion-content>
