page-player {
  .hero {
    background-size: cover;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
    height: 200px;
    position: absolute;
    text-align: center;
    -webkit-transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    width: 100%;
    transform: scale(1.08);
    filter: blur(2px) brightness(0.8);
    // Browser Specific
    -webkit-filter: blur(2px) brightness(0.8);
    -moz-filter: blur(2px) brightness(0.8);
    -o-filter: blur(2px) brightness(0.8);
    -ms-filter: blur(2px) brightness(0.8);
  }

  .content {
    position: absolute;
    left: 0;
    right: 0;
  }

  .avatar {
    background-position: center;
    background-size: cover;
    border: solid 2px rgba(255, 255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    height: 78px;
    left: auto;
    position: relative;
    width: 78px;
  }

  .topSlides ion-slide {
    padding-top: 30px;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  h5 {
    font-weight: normal;
  }

  h4 {
    color: rgba(255, 255, 255, 0.7);
    margin: 3px 0 16px;
  }

  .white {
    color: #fff;
  }

  .bold {
    font-weight: bold;
  }

  h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
    text-decoration: none;
  }

  .light, a.light {
    color: #fff;
  }

  .profileCards {
  }

  .swiper-container-horizontal > .swiper-pagination-bullets {
    top: 0px !important;
    width: 20% !important;
  }

  .swiper-pagination-bullet {
    background: #fff;
  }

  .socialIcons {
    padding: 10px;
    letter-spacing: 10px;
    color: #fff;
  }

  .editIcon {
    position: absolute;
    right: 270px;
    bottom: 50px;
    color: #fff;
  }

  .profileBottom {
    position: absolute;
    width: 100%;
    top: 198px;
  }

  .activeBtn {
    background: #0072BB;
    box-shadow: 0px 3px #FF4C3B;
  }

  .lineIndicator {
    box-shadow: 0px 3px #FF4C3B;
    animation: slideInRight 300ms linear;
  }

  .noPadding {
    padding: 0px;
  }

  .tabButton {

  }
}
