<!--
  Generated template for the PlayerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons *ngIf='currentUser' end>
      <button (click)="openModal(player)" ion-button icon-only>
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>الملف الشخصي</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="hero" style="background-image: url('http://www.publicdomainpictures.net/pictures/50000/nahled/sunset-profile-background.jpg');">
    <div class="content">
      <div class="avatar" style="background-image: url('https://pbs.twimg.com/profile_images/869460661180542976/KjsN06DG_400x400.jpg');"></div>
      <h3><a class="light">{{player.name}}</a> - {{player.originalUsername}}@</h3>
      <p>عدد الفرق: {{myTeams.length}}</p>
    </div>
  </div>
  <ion-row wrap *ngIf="myTeams?.length > 0 ">
    <ion-item-divider text-center color="#ffff">My teams</ion-item-divider>
    <ion-col width-33 *ngFor="let team of myTeams">
      <ion-card class="profileCards">
        <img on-tap='openTeam(team)' src="https://s-media-cache-ak0.pinimg.com/originals/0e/da/ec/0edaec258266cf651b9124a92f389c6b.png">
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-item-group *ngIf="myTeams?.length > 0 ">

  </ion-item-group>

</ion-content>
