<!-- Generated template for the PostComponent component -->
<ion-card [ngClass]="className ? className : 'card1'">
  <ion-item style="height: 70px;">
    <ion-avatar margin-top item-start>
      <img class="postAvatar" on-tap="openPlayer()" src="{{user.profilePic}}" alt="">
    </ion-avatar>
    <p class="author">
      <span id="name">{{user.name}}</span><br> {{user.originalUsername}}
    </p>
    <div class="topLeft">
      <div *ngIf="postInfo.type == 'match'" on-tap="requestMatch()" class="icon_calendar">
        <em></em><em></em>
        <label>{{month}}</label>
        <span><h1>{{day}}</h1></span>
      </div>
      <div *ngIf="postInfo.type == 'player'" on-tap="requestPlayer()">
        <span [ngSwitch]="user.position">
          <span *ngSwitchCase="'GK'" class="chip red">حارس</span>

        <span *ngSwitchCase="'DF'" class="chip green">دفاع</span>

        <span *ngSwitchCase="'CM'" class="chip gold">وسط</span>

        <span *ngSwitchCase="'AT'" class="chip blue">مهاجم</span>
        </span>
      </div>
    </div>
  </ion-item>
  <ion-card-content>
    <h2>{{postInfo.title}}</h2>
    <ng-content></ng-content>
  </ion-card-content>
  <div *ngIf="postInfo.type == 'match'" [@fadeInOut] class="infoPlaceholder">
    <img *ngIf="teamInfo.bg" on-tap="openTeam()" class="bg" src="{{teamInfo.bg}}" alt="">
    <img on-tap="openTeam()" class="logo" src="{{teamInfo.logo}}" alt="">
    <h1 class="teamName">{{teamInfo.name}}</h1>
    <div class="teamBar">
      <team-bar teamID="{{postInfo.teamID}}"></team-bar>
    </div>
  </div>
  <player-post-card *ngIf="postInfo.type == 'player'" playerID="{{postInfo.by}}"></player-post-card>
  <p class="postInfo" *ngIf="postInfo.info" padding>
    {{postInfo.info}}
  </p>
  <ion-row class="postInfoBar">
    <ion-col class="likes">
      <ion-row padding-left align-items-center>
        <button no-padding (click)="like()" *ngIf="(liked | async)?.length == 0" ion-button icon-left clear small>
         <ion-icon name="md-heart-outline" color="danger"></ion-icon>
        </button>
        <button no-padding (click)="unlike()" *ngIf="(liked | async)?.length > 0" ion-button icon-left clear small>
          <ion-icon name="md-heart" color="danger"></ion-icon>
        </button>
        <p class="likesNum">{{(likes | async)?.length}}</p>
        <ion-col *ngIf="(likes | async)?.length > 0" col-9 class="likesPreview">
          <ion-slides dir="rtl" slidesPerView="6">
            <ion-slide *ngFor="let player of likes | async">
              <profile-pic on-tap="openPlayerLike(player.id)" className="likeAvatar" ID="{{player.id}}" type="user"></profile-pic>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col class="comments">
      <ion-row padding-left align-items-center>
        <button no-padding (click)="openPost()" ion-button icon-left clear small>
          <ion-icon name="text" color="gold"></ion-icon>
        </button>
        <p>{{(commentsNum | async)?.length}}</p>
      </ion-row>
    </ion-col>
    <ion-col col-2 class="date" center text-end>
      <ion-note dir="ltr">
        <date date="{{postInfo.date}}"></date>
      </ion-note>
    </ion-col>
  </ion-row>
</ion-card>
