post {
  .card1 {
    position: relative;
  }
  .logo {
    position: absolute;
    top: 15%;
    background-color: white;
    margin: auto;
    left: 0;
    right: 0;
    border: solid 1px white;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    z-index: 10;
  }
  .bg {
    filter: brightness(0.6);
    height: 200px;
    border-radius: 10px;
    width: 100% !important;
  }
  .teamName {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 45%;
    text-align: center;
    color: white;
    font-weight: bold;
  }
  .teamBar {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 60%;
    text-align: center;
    color: white;
  }
  .infoPlaceholder {
    height: 200px;
    background-color: lightgray;
    position: relative;
    margin-top: 20px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
  }
  .card-content {
    padding: 0px 16px 0px;
    position: absolute;
    right: 54px;
    top: 45px;
  }
  ion-card-content h2 {
    color: dimgray;
  }
  .postAvatar {
    width: 44px !important;
    height: 44px !important;
  }
  .date {
    padding-left: 20px;
  }
  .chip {
    padding: 0 15px 8px;
    border-radius: 20px;
    color: white;
    font-size: smaller;
  }
  .gold {
    background-color: #AF6916;
  }
  .red {
    background-color: orangered;
  }
  .green {
    background-color: green;
  }
  .blue {
    background-color: #0072BB;
  }
  ion-avatar[item-start] {
    margin: 22px 0px 0px 9px !important
  }
  .date>ion-note {
    white-space: nowrap;
  }
  .date p {
    text-align: start;
  }
  /** Calendar CSS **/
  .topLeft {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 15px;
    padding-left: 12px;
  }
  .icon_calendar {
    position: relative;
    cursor: pointer;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    width: 55px;
    -moz-box-shadow: 0px 2px 5px 0px #cfcfcf;
    -webkit-box-shadow: 0px 2px 5px 0px #cfcfcf;
    -o-box-shadow: 0px 2px 5px 0px #cfcfcf;
    box-shadow: 0px 2px 5px 0px #cfcfcf;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=180, Strength=5);
    transition: all .2s;
  }
  .icon_calendar>label,
  .icon_calendar>span {
    cursor: pointer;
    display: block;
  }
  .icon_calendar>em {
    display: block;
    background-color: grey;
    width: 6px;
    height: 16px;
    border-radius: 4px;
    border: 2px solid #efefef;
    position: absolute;
    top: -7px;
    z-index: 5;
  }
  .icon_calendar>em:nth-child(1) {
    left: 10px;
  }
  .icon_calendar>em:nth-child(2) {
    right: 10px;
  }
  .icon_calendar>label {
    background-color: #E9564E;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    z-index: 3;
    height: 24px;
    position: relative;
    text-align: center;
  }
  .icon_calendar>span {
    display: block;
    color: #494949;
    z-index: 2;
    position: relative;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    transition: all .2s;
    text-align: center;
  }
}
