<!-- Generated template for the PostComponent component -->
<ion-card [@fadeInOut] [ngClass]="className ? className : 'card1'">
  <ion-item style="height: 70px;">
    <ion-avatar margin-top item-start>
      <img on-tap="openPlayer()" src="{{user.profilePic}}" alt="">
    </ion-avatar>
    <ion-row justify-content-start>
      <h2 style="margin: 2px 0;">{{user.name}}</h2>&nbsp;
      <p>{{user.originalUsername}}@</p>
    </ion-row>
    <div class="topLeft">
      <div *ngIf="postInfo.type == 'match'" on-tap="requestMatch()" class="icon_calendar">
        <em></em><em></em>
        <label>{{month}}</label>
        <span><h1>{{day}}</h1></span>
      </div>
      <div *ngIf="postInfo.type == 'player'" on-tap="requestPlayer()">
        <span [ngSwitch]="user.position">
          <span *ngSwitchCase="'GK'" class="chip red">حارس</span>

        <span *ngSwitchCase="'DF'" class="chip green">دفاع</span>

        <span *ngSwitchCase="'CM'" class="chip gold">وسط</span>

        <span *ngSwitchCase="'AT'" class="chip blue">مهاجم</span>
        </span>
      </div>
    </div>
  </ion-item>
  <ion-card-content>
    <h2>{{postInfo.title}}</h2>
    <ng-content></ng-content>
  </ion-card-content>
  <div *ngIf="postInfo.type == 'match'" [@fadeInOut] class="infoPlaceholder">
    <img *ngIf="teamInfo.bg" on-tap="openTeam()" class="bg" src="{{teamInfo.bg}}" alt="">
    <img on-tap="openTeam()" class="logo" src="{{teamInfo.logo}}" alt="">
    <h1 class="teamName">{{teamInfo.name}}</h1>
    <div class="teamBar">
      <team-bar teamID="{{postInfo.teamID}}"></team-bar>
    </div>
  </div>
  <player-post-card *ngIf="postInfo.type == 'player'" playerID="{{postInfo.by}}"></player-post-card>
  <p class="postInfo" padding>
    {{postInfo.info}}
  </p>
  <ion-row>
    <ion-col class="likes">
      <button (click)="like()" *ngIf="liked == false" ion-button icon-left clear small>
        <ion-icon name="md-heart-outline" color="danger"></ion-icon>
        <div>{{likesNum}}</div>
      </button>
      <button (click)="unlike()" *ngIf="liked == true" ion-button icon-left clear small>
        <ion-icon name="md-heart" color="danger"></ion-icon>
        <div>{{likesNum}}</div>
      </button>
    </ion-col>
    <ion-col class="comments">
      <button (click)="openPost()" ion-button icon-left clear small>
        <ion-icon name="text" color="gold"></ion-icon>
        <div>{{commentsNum}}</div>
      </button>
    </ion-col>
    <ion-col class="date" center text-end>
      <ion-note dir="ltr">
        {{date}}
      </ion-note>
    </ion-col>
  </ion-row>
</ion-card>
