<!--
  Generated template for the RequestMatchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>طلب مباراة مع {{awayTeam.name}}</ion-title>
    <button start (click)="closeModel()" ion-button clear icon-only style="height: 22px">
      <ion-icon color="light" name="close"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content padding-vertical>
  <ion-row class="padding-top" align-items-stretch text-center>
    <ion-col pull-1>
      <button (click)="closeModel()" color="orange" ion-button round small>
          إلغاء
        </button>
    </ion-col>
    <ion-col push-1>
      <button [disabled]="matchForm.invalid" (click)="sendRequest()" color="gold" ion-button round small>
             ارسل
        </button>
    </ion-col>
  </ion-row>
  <ion-card class="card1">
    <ion-card-header>
      طلب مباراة مع {{awayTeam.name}}
    </ion-card-header>
    <form name="matchForm" novalidate>
      <div class="register" [formGroup]='matchForm'>
        <ion-list>
          <ion-item>
            <ion-label>فريقي</ion-label>
            <ion-select [(ngModel)]="selectedTeam" formControlName="selectedTeam" placeholder="اختر الفريق">
              <span *ngFor="let team of myTeams">
                <ion-option *ngIf="team.$key != awayTeam.$key"  [value]="team">{{team.name}}</ion-option>
              </span>
            </ion-select>
          </ion-item>

          <button ion-item (click)="openCalendar()">
            <ion-row>
              <ion-col>
                التاريخ
              </ion-col>
              <ion-col text-end>
                {{dateFormated}}
              </ion-col>
            </ion-row>
          </button>
          <ion-item>
            <ion-label>الساعة</ion-label>
            <ion-datetime dir="ltr" [(ngModel)]="time" formControlName="time" displayFormat="h:mm A">
            </ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>الملعب</ion-label>
            <ion-input type="text" [(ngModel)]="stadium" formControlName="stadium" placeholder="اين ستقام المباراة" value=""></ion-input>
          </ion-item>
        </ion-list>
      </div>
    </form>
  </ion-card>
</ion-content>
