page-request-match {

}

ion-calendar-modal.matchCalender{

  ion-header{
    .toolbar-background-md,.toolbar-background-ios{
      background-color: #0072bb;
    }
    .toolbar-title-md,.toolbar-title-ios{
      color: #fff;
    }
    .bar-button-clear-md,.bar-button-clear-ios{
      color: #fff;
      font-size: 25px;
      letter-spacing: 10px;
    }
    .week-title{
      background-color: rgba(#fff, 0.21);
      color: #fff;
    }
  }

  ion-content{

    .month-box{
      background-color: #white;
    }

    .days-btn,.month-title{
      color: #FF4C3B;
    }
    button.days-btn.on-selected{
      background-color: #FFD034 !important;
    }
    button.days-btn.marked{
      background-color: #e4f3fd;
    }

  }

}
